# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
- popular Data Science languages
- popular coding environments for Data Science 
- Examples of python arithmatic expressions ran in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebook|
|Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Andrew Lin